---
import { Image } from '@astrojs/image/components';
import bg_mobile from '../../assets/bg-mobile.jpg';
import bg_desktop from '../../assets/bg-desktop1.jpg';
import bg_bigDesktop from '../../assets/bg-bigDesktop1.jpg';
import logo from '../../assets/Logo.svg';
import HeroText from './HeroText';
import LanguajeSelector from './LanguajeSelector';
import MobileBurger from '../MobileNav/MobileBurger';
import Nav from './Nav';

const { textos, idioma } = Astro.props;
---

<div
  class="relative h-[calc(100dvh-50px)] md:h-screen mobile-landscape:h-[600px]">
  <Image
    format="webp"
    alt=""
    src={bg_mobile}
    width={640}
    height={1148}
    quality={100}
    class="absolute -z-10 h-screen object-cover sm:hidden"
  />

  <Image
    alt=""
    format="webp"
    src={bg_desktop}
    width={1980}
    height={799}
    quality={100}
    class="absolute -z-10 hidden h-screen object-cover sm:inline mobile-landscape:h-[600px] big-desktop:hidden"
  />

  <Image
    alt=""
    format="webp"
    src={bg_bigDesktop}
    width={3000}
    height={1211}
    quality={100}
    class="absolute -z-10 hidden h-screen object-cover object-center big-desktop:inline"
  />
  <div class="">
    <Nav
      textos={textos}
      idioma={idioma}
    />
    <LanguajeSelector
      client:load
      idioma={idioma}
    />

    <div
      class="flex flex-col items-center justify-center pt-24 md:flex-row md:pt-36 md:pr-5 xl:pt-24 xl:pr-16">
      <Image
        alt="logo"
        src={logo}
        width={75}
        height={91}
        class="xl:pt-6"
      />

      <h1
        class="text-center text-8xl font-light leading-[5rem] tracking-wide text-white xl:text-9xl">
        Milvus <br class="sm:hidden" /> Travel
      </h1>
    </div>

    <HeroText
      textos={textos}
      idioma={idioma}
    />

    <MobileBurger
      client:load
      textos={textos}
      idioma={idioma}
    />
  </div>
</div>
<script></script>
../MobileNav/MobileBurger
