---
import Destinos from '../../components/Destinos/Destinos';
import Hero from '../../components/Hero/Hero.astro';
import Layout from '../../layouts/Layout.astro';
import Galeria from '../../components/Galeria/Galeria';
import Servicios from '../../components/Servicios/Servicios.astro';

//TEXTOS
import heroTextos from '../../components/Hero/heroEn.json';
import destinosTextos from '../../components/Destinos/destinosEn.json';
import serviciosTextos from '../../components/Servicios/servicios.json';
const idioma = 'en';
---

<Layout
  title="Milvus Travel"
  description="Agencia de viajes personalizados"
  language="es">
  <Hero
    textos={heroTextos}
    idioma={idioma}
  />
  <Destinos
    client:load
    textos={destinosTextos}
    idioma={idioma}
  />
  <Servicios
    idioma={idioma}
    textos={serviciosTextos}
  />
  <Galeria
    client:load
    idioma={idioma}
  />
  <!-- <div class="h-[1000px] bg-two"></div> -->
</Layout>
