---
const { idioma, textos } = Astro.props;

const { titulo1, titulo2, texto1, texto2, span, cta } =
  textos[idioma];
---

<section
  id="servicios"
  class="pb-14">
  <h2
    class={`mx-auto max-w-[95%] py-12 text-center text-6xl font-light leading-[4rem] tracking-wide  md:text-7xl lg:text-8xl  xl:max-w-[1200px] text-two `}>
    {titulo1}<span class="text-one">{titulo2}</span>
  </h2>

  <p
    class={`max-w-[800px] text-xl text-two w-[90%] mx-auto m-8 text-center font-semibold`}>
    {texto1}{
      idioma !== 'ar' && (
        <>
          <br />
          <br />
        </>
      )
    }{texto2}<span class="text-one">{span}</span>
  </p>

  <a
    href={`https://api.whatsapp.com/send?phone=${
      idioma === 'ar' ? '962799757654' : '5215554094418'
    }`}
    class="mx-auto block w-[300px] transform rounded-full bg-four px-[3.75rem] py-2 text-center text-2xl font-bold text-two duration-200 hover:bg-one"
    rel="noreferrer"
    target="_blank">
    {cta}
  </a>
</section>
