---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero/Hero.astro';
import Destinos from '../components/Destinos/Destinos';
import Galeria from '../components/Galeria/Galeria';

// TEXTOS
import heroTextos from '../components/Hero/heroEs.json';
import destinosTextos from '../components/Destinos/destinosEs.json';

const idioma = 'es';
---

<Layout
  title="Milvus Travel"
  description="Agencia de viajes personalizados"
  language="es">
  <Hero
    textos={heroTextos}
    idioma={idioma}
  />
  <Destinos
    client:load
    textos={destinosTextos}
    idioma={idioma}
  />
  <Galeria
    client:load
    idioma={idioma}
  />
  <div class="mt-72 h-[1000px] bg-two"></div>
</Layout>

<style></style>
