---
const { idioma, textos } = Astro.props;
const {
  titulo,
  testimonio1,
  testimonio2,
  testimonio3,
  testimonio4,
  testimonio5,
  testimonio6,
} = textos;
---

<section class="pb-16">
  <h2
    class={`mx-auto py-12 text-center text-6xl font-light leading-[4rem] tracking-wide  md:text-7xl  text-one`}>
    {titulo}
  </h2>

  <div
    class="2xl:: mx-auto mt-10 flex w-[95%] flex-col items-center gap-6 xl:w-[1224px] xl:flex-row xl:items-baseline xl:justify-between"
    id="container">
    {
      idioma === 'ar' ? (
        <>
          <div
            id="grupo1"
            class="flex flex-col gap-6">
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 text-right ">
                <bdi dir="rtl">{testimonio1.texto}</bdi>
              </p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio1.autor}
              </p>
            </div>
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 text-right ">
                <bdi dir="rtl">{testimonio2.texto}</bdi>
              </p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio2.autor}
              </p>
            </div>
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 text-right ">
                <bdi dir="rtl">{testimonio3.texto}</bdi>
              </p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio3.autor}
              </p>
            </div>
          </div>
          <div
            id="grupo2"
            class="flex flex-col gap-6">
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 text-right ">
                <bdi dir="rtl">{testimonio4.texto}</bdi>
              </p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio4.autor}
              </p>
            </div>
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 text-right ">
                <bdi dir="rtl">{testimonio5.texto}</bdi>
              </p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio5.autor}
              </p>
            </div>
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 text-right ">
                <bdi dir="rtl">{testimonio6.texto}</bdi>
              </p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio6.autor}
              </p>
            </div>
          </div>
        </>
      ) : (
        <>
          <div
            id="grupo1"
            class="flex flex-col gap-6">
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 ">{testimonio1.texto}</p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio1.autor}
              </p>
            </div>
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 ">{testimonio2.texto}</p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio2.autor}
              </p>
            </div>
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 ">{testimonio3.texto}</p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio3.autor}
              </p>
            </div>
          </div>
          <div
            id="grupo2"
            class="flex flex-col gap-6">
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 ">{testimonio4.texto}</p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio4.autor}
              </p>
            </div>
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 ">{testimonio5.texto}</p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio5.autor}
              </p>
            </div>
            <div class="bg bg-two max-w-[600px] rounded-tl-[25px] rounded-br-[25px] font-semibold text-white">
              <p class="p-7 ">{testimonio6.texto}</p>
              <p class="text-one pr-7 pb-7 text-right ">
                {testimonio6.autor}
              </p>
            </div>
          </div>
        </>
      )
    }
  </div>
</section>
