---
const { idioma, textos } = Astro.props;
const {
  titulo,
  testimonio1,
  testimonio2,
  testimonio3,
  testimonio4,
  testimonio5,
  testimonio6,
} = textos;
---

<section class="pb-16">
  <h2
    class={`mx-auto py-12 text-center text-6xl font-light leading-[4rem] tracking-wide  md:text-7xl lg:text-8xl xl:text-8xl text-one`}>
    {titulo}
  </h2>

  <div
    class="2xl:: mx-auto mt-10 flex w-[95%] flex-col items-center gap-6 xl:w-[1224px] xl:flex-row xl:items-baseline xl:justify-between"
    id="container">
    <div
      id="grupo1"
      class="flex flex-col gap-6">
      <div
        class="bg max-w-[600px] rounded-tl-[25px] rounded-br-[25px] bg-two font-semibold text-white">
        <p class="p-7 text-lg">{testimonio1.texto}</p>
        <p class="pr-7 pb-7 text-right text-lg text-one">
          {testimonio1.autor}
        </p>
      </div>
      <div
        class="bg max-w-[600px] rounded-tl-[25px] rounded-br-[25px] bg-two font-semibold text-white">
        <p class="p-7 text-lg">{testimonio2.texto}</p>
        <p class="pr-7 pb-7 text-right text-lg text-one">
          {testimonio2.autor}
        </p>
      </div>
      <div
        class="bg max-w-[600px] rounded-tl-[25px] rounded-br-[25px] bg-two font-semibold text-white">
        <p class="p-7 text-lg">{testimonio3.texto}</p>
        <p class="pr-7 pb-7 text-right text-lg text-one">
          {testimonio3.autor}
        </p>
      </div>
    </div>
    <div
      id="grupo2"
      class="flex flex-col gap-6">
      <div
        class="bg max-w-[600px] rounded-tl-[25px] rounded-br-[25px] bg-two font-semibold text-white">
        <p class="p-7 text-lg">{testimonio4.texto}</p>
        <p class="pr-7 pb-7 text-right text-lg text-one">
          {testimonio4.autor}
        </p>
      </div>
      <div
        class="bg max-w-[600px] rounded-tl-[25px] rounded-br-[25px] bg-two font-semibold text-white">
        <p class="p-7 text-lg">{testimonio5.texto}</p>
        <p class="pr-7 pb-7 text-right text-lg text-one">
          {testimonio5.autor}
        </p>
      </div>
      <div
        class="bg max-w-[600px] rounded-tl-[25px] rounded-br-[25px] bg-two font-semibold text-white">
        <p class="p-7 text-lg">{testimonio6.texto}</p>
        <p class="pr-7 pb-7 text-right text-lg text-one">
          {testimonio6.autor}
        </p>
      </div>
    </div>
  </div>
</section>
