---
export interface Props {
  title: string;
  description: string;
  language: string;
}

const { title, description, language } = Astro.props;
---

<!DOCTYPE html>
<html lang={language}>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/LOGO2.svg"
    />
    <!-- <link
      rel="alternate"
      href={`http://milvustravel.com/${language}`}
      hreflang={language}
    />
    <link
      rel="alternate"
      href={`http://milvustravel.com/${language}`}
      hreflang={language}
    />
    <link
      rel="alternate"
      href={`http://milvustravel.com/${language}`}
      hreflang={language}
    /> -->
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name="description"
      content={description}
    />
    <meta
      data-rh="true"
      property="og:image"
      content="/Logo-preview.svg"
    />
  </head>

  <body>
    <slot />
  </body>

  <style is:global>
    html {
      scroll-behavior: smooth;
      scrollbar-gutter: stable;
    }

    /* @font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  } */
  </style>
</html>
